@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mystery+Quest&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 0vh;
    width: 0vw;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*position: absolute;*/
    background-image: url('/imag/fondos-abstractos-hd-4k.webp');
    font-family: 'Gloria Hallelujah', cursive;
    /*font-family: 'Mystery Quest', cursive;*/
}

.formulary-about {
    color: aliceblue;

}

.formulary-header {
    font-family: 'Gloria Hallelujah', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40em;
    /*border: 1px solid aliceblue;*/
    font-size: xx-large;
    border-radius: 0.5em;
    line-height: 2em;
}

.card-body {
    border-radius: 1em;
    /*background: red;*/
    border: 2px solid aliceblue;
    
}

.title-mastermind {
    font-size: large;
}

.text-description {

}

.container-text-centerplay {
    border-radius: 50em;
    background:black;
    width:8em;
    height:2.5em;
    text-align:center;
    margin: 10px;
    padding: 25px;
    color: aliceblue;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;
}

.row-play {

}

.col-md-3-ms-md-autoplay {
    border-radius: 20em;
    width: em;
    height: 2.5em;
    text-align: center;
    margin: 20em;
    padding: 3.5em;
    color: aliceblue;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;
    background: green;
}


.containe-text-centerhome {
    border-radius: 50em;
    background:black;
    width:8em;
    height:2.5em;
    text-align:center;
    margin: 10px;
    padding: 25px;
    color: aliceblue;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;

}

.row-home {


}


.col-md-3-ms-md-autohome {
    border-radius: 50em;
    background: green;
    width: 50em;
    height: 3.5em;
    text-align: center;
    margin: 10px;
    padding: 25px;
    color: aliceblue;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;
    text-decoration: none;
}