@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mystery+Quest&display=swap');
@media only screen and (max-width: 990px) {
    html {
      font-size: 0.7em;
    }
  }
body{
    margin: 0;
    padding: 0;
    background-image: url('/imag/fondos-abstractos-hd-4k.webp');
    font-family: 'Gloria Hallelujah', cursive;
    background-size: cover;
}
.screen-main{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-title{
    margin-top: 2em;
    font-size: 4em;
    color:white;
}
.row-play{
    margin-top: 4em;
    font-size: 2.5em;
    background:white;
    border-radius: 0.2em;
    width: 3.6em;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.separador{
    background:transparent;
    font-size: 3em;
    color:transparent;
}
.title-about-index{
    margin-top: 8em;
    font-size: 2em;
    background:white;
    border-radius: 0.2em;
    width: 4em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
                /*STYLE ABOUT*/
.screen-main-about{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.row-title-about{
    margin-top: 1em;
    font-size: 2.5em;
    color:white;
}
.definition-about, .description-rule, .description-rule-2 {
font-family: 'Times New Roman', Times, serif;
}
.row-definition{
    margin-top: 2.5em;
    font-size: 1.5em;
    background:white;
    border-radius: 0.2em;
    width: 50em;
}
.row-rule{
    margin-top: 2.5em;
    font-size: 1.5em;
    background:white;
    border-radius: 0.2em;
    width: 50em;
}
.title-home{
    margin-top: 8em;
    font-size: 2em;
    background:white;
    border-radius: 0.2em;
    width: 4em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.separador-rule{
    background:transparent;
    font-size: 3em;
    color:transparent;
}
.title-next{
    margin-top: 8em;
    font-size: 2em;
    background:white;
    border-radius: 0.2em;
    width: 4em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.separador-home{
    background:transparent;
    font-size: 1.5em;
    color:transparent;
}
            /*STYLE PLAYER*/
.row-title-player{
    margin-top: 2em;
    font-size: 3.5em;
    color:white;
}
.input-player{
    margin-top: 1.5em;
    font-size: 1.5em;
    /*background:white;*/
    border-radius: 0.2em;
    width: 50em;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
            /*PLAYER*/
.form-player {
padding: 30px;
border:1px solid #ccc;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
font-family: 'Times New Roman', Times, serif;
color:white;
font-size: 30px;
}
.h2{
    font-size: 30px;
}
.labels{
    display:block;
    margin-bottom: 10px;
}
input[type="text"],input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}

