@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mystery+Quest&display=swap');
@media only screen and (max-width: 990px) {
    
html {
      font-size: 0.7em;
}

}
body{
    margin: 0;
    padding: 0;
    background-image: url('/imag/fondos-abstractos-hd-4k.webp');
    font-family: 'Gloria Hallelujah', cursive;
    /*background-size: cover;*/
}
.screen-select-colors{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-select-colors{
    margin-top: 1.5em;
    font-size: 4em;
    color:white;
}
.title-select-colors{

}
.square{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    color:black;
    margin-top: 8em;
    padding: 3em 30em 2em 30em;
}
.shape-square1, .shape-square2, .shape-square3, .shape-square4{
    font-family: 'Times New Roman', Timegs, serif;    
    font-size: 30px;
    color:transparent;
    width: 70px;
    height: 60px;
    border-radius: 5%;
    text-align: center;
    line-height: 60px;
    background-color:#3366ff;
}
.palette-container{
    position: relative;
    background-color: rgb(0, 0, 0, 0);
    display: flex;
    width: 30.5rem;
    height: 10rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    /*border-style: solid;*/
    /*border-color: white;*/
    transform: translate(0, 0rem);
}

.picker-palette{
    position: relative;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 6rem;
    height: 4rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.05rem;
    border-style: solid;
    border-color: white;
    transform: translate(0, 0rem);
}

.color-select-style {
    background-color: unset;
    width: 2rem;
    height: 2rem;
    border-style: dotted;
    border-color: white;
    cursor: pointer;
}
.palette {
    font-weight: 200;
    position: relative;
    font-size: small;
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem;
    border-style: dashed;
    border-color: white;
    transform: translate(0, 0rem);
}


#rgb-table{
border-collapse: collapse;
background: green;
width: 20em;
height: 20em;
}
#rgb-table{
    border: 1px solid #000;
    padding: 5px;
}
#colorPicker {
    /*display: none;*/
    opacity: 0;
    width: 0;
}
.button-container {
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;    
    font-size: 30px;

}
/* START GAME*/
.separador{
    color:transparent;
}
